# **TUPLE**

tanımlama,değer atama(tuple da tanımlanan değer değiştirilmez.) (Tanımlanır tanımlanmaz değer atamak gerekir)

In [ ]:
liste=["a","b",54,True] #liste
tuple1=("a","b",54,True)  #tuple

In [ ]:
mytuple=3.2,4,"Hello"
print(mytuple)

(3.2, 4, 'Hello')

In [ ]:
type(tuple1)

tuple

Değerlere erişim, indexler

In [ ]:
print(mytuple[-1])   #son deger
print(mytuple[1:2])  #Çıkan sonuc 1 değerli tuple döndürür,son deger

Hello
(4,)

Değer değişimi(tuple iken değer değişimi olmaz bunu liste türüne çevirip değeri değiştirip tekrar değer değiştirmek gerek)

In [ ]:
liste1=list(mytuple)
liste1[0]=5.3
liste1

[5.3, 4, 'Hello']

In [ ]:
tuple2=tuple(liste)
tuple2

(5.3, 4, 'Hello')

In [ ]:
y=(1,2,3) + (4,5,6)
print(y)

(1, 2, 3, 4, 5, 6)

Tuple yapısında + ve * 

y=(1, 2, 3) + (4, 5, 6)

x=("Hello",) * 3

print(type(x))

print(x)

In [ ]:
x=("Hello",) * 3
print(type(x))
print(x)

<class 'tuple'>
('Hello', 'Hello', 'Hello')

Silme işlemi index olarak değil tümden tuple'ı silerek olur

In [ ]:
del(x) #buradaki gibi
del(x[0]) #buna izin vermez

*   count

*   index

*   len

*   membership

*   sorted()

In [ ]:
tuple1=("a","b",54,True)

if 54 in tuple1:   #listede de yapıldığını üzere üyesi olduğu sorgulanır
  print("var")
if 64 not in tuple1:  #listede de yapıldığını üzere üyesi olmaduğu sorgulanır
  print('yok')

var
yok

In [ ]:
tuple3=('a',45,7,1.2,True,False,50,50,50)
print(len(tuple3))
print(tuple3.count(50))
print(tuple3.index(True))

9
3
4

In [ ]:
tuple4=(5,7,8,9,1,2,4)
tuple5=tuple(sorted(tuple4))
print(tuple5)

(1, 2, 4, 5, 7, 8, 9)

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
green, *yellow = fruits  #ilk değer green diğer değerler yellowa atamayı sağlar
print(green)
print(yellow)

apple
['banana', 'cherry']

In [ ]:
aTuplex = (100,(200,300),400,500)
print(aTuplex)
print(aTuplex[1][0])
print(aTuplex[2])

(100, (200, 300), 400, 500)
200
400

In [ ]:
for i in aTuplex:
  print(i)

100
(200, 300)
400
500

Rastgele bir metinde küçük harfleri büyüten , büyük harfleri küçülterek daha sonrasında bu harflerin her birini bir dictionary oluşturarak ona aktaran program

In [ ]:
metin="kjdgagğÖGRBLDAFSMALDSömskfmdlskfm"
metin1 =""
for i in metin:
  if i.islower():
    metin1 += i.upper()
  else:
    metin1 += i.lower()
dict9={(i+1):str(metin1[i]) for i in range(0, len(metin1))}
print(dict9)

{1: 'K', 2: 'J', 3: 'D', 4: 'G', 5: 'A', 6: 'G', 7: 'Ğ', 8: 'ö', 9: 'g', 10: 'r', 11: 'b', 12: 'l', 13: 'd', 14: 'a', 15: 'f', 16: 's', 17: 'm', 18: 'a', 19: 'l', 20: 'd', 21: 's', 22: 'Ö', 23: 'M', 24: 'S', 25: 'K', 26: 'F', 27: 'M', 28: 'D', 29: 'L', 30: 'S', 31: 'K', 32: 'F', 33: 'M'}

Belirlenen aralıktan sayıları seçerek ve teklerin karşısına 1, çiflerin karşısına 2 yazması koşuluyla bir dictionary oluşturan program

In [ ]:
# Dictionary Comprehension
squares = {x:i for x in range(1,16) }
for i in squares:
  if i % 2 == 0: 
    squares.update({i: 2})
  else:
    squares.update({i: 1})

print(squares)

{1: 1, 2: 2, 3: 1, 4: 2, 5: 1, 6: 2, 7: 1, 8: 2, 9: 1, 10: 2, 11: 1, 12: 2, 13: 1, 14: 2, 15: 1}

# **SET**

Tanımlama, değer atama

In [ ]:
a={5,4,3}
b={}
print(a)

{3, 4, 5}

In [ ]:
a={5,4,3,5}  #küme olarak aynı değeri tekrar eklemek etkilemez.
print(a)     #Görüldüğü üzere 5 tekrar eklediğimizde gözükmemekte
print(len(a))

{3, 4, 5}
3

add(), update(), remove(), discard(), clear(), del()

In [ ]:
a.add('a')
print(a)

{3, 4, 5, 'a'}

In [ ]:
#Birden çok veri gönderilecekse liste türünde istenmekte
a.update(['abc']) #bu şekilde dersek tek bir değer olarak ekler
a.update('abc')   #içindeki değeri liste olarak kabul edip tek tek ekler
print(a)

{'c', 3, 4, 5, 'b', 'abc', 'a'}

In [ ]:
a.update(['dbs']) #bu şekilde dersek tek bir değer olarak ekler
a.update('dbs')   #içindeki değeri liste olarak kabul edip tek tek ekler
print(a)

{'d', 'c', 3, 4, 5, 'b', 'dbs', 'abc', 'a', 's'}

In [ ]:
a.remove("abc")
print(a)

a.discard("a")
print(a)

{'d', 'c', 3, 4, 5, 'b', 'dbs', 'a', 's'}
{'d', 'c', 3, 4, 5, 'b', 'dbs', 's'}

copy(), id()

In [ ]:
c={"b","r"}
c.clear()
print(c)

set()

sum, min, max, len

In [ ]:
d={5,4,3,5}
print(sum(d))
print(min(d))
print(max(d))

12
3
5

In [ ]:
kume={('a',3,4),5,'c',('s','d','b')} #küme içerisine liste tanımlayamıyoruz küme içerisine tekrar eden bir yapı kabul etmediği için tuple ile tanımlayabiliyoruz.

Birleşim (union) |, Kesişim (intersection) & , difference -, issubset, issuperset, isdisjoint()

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A.union(B))  #sadece birleştir değerleri yazdır.İlk değerleri değiştirmez. A birleşim B = A | B 
print(A.intersection(B))  #Kesişim kümesini verir. A kesişim B = A & B
print(A.difference(B))    # Fark kümesini verir. A fark B = A - B
print(A.symmetric_difference(B))  # Ortak olanları çıkarıp birleştirir. A ^ B

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [ ]:
C = {6,7,8}
print(C.issubset(A))  # C kümesi A nın alt kümesi mi?
print(C.issubset(B))  # C kümesi B nın alt kümesi mi?
print(A.issuperset(C))  # A kümesi C yi kapsar mı? 
print(B.issuperset(C))  # B kümesi C yi kapsar mı? 
print(A.isdisjoint(C)) #Ortakları var mı? Yoksa True Varsa False
print(B.isdisjoint(C)) #Ortakları var mı? Yoksa True Varsa False

False
True
False
True
True
False

# **Dictionary**

Tanımlama
## empty dictionary
my_dict = {}

## dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

## dictionary with mixed keys
my_dict = {'name': 'John', 'not': [2, 4, 3]}

## using dict()
my_dict = dict({1:'apple', 2:'ball'})

## from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

In [ ]:
dict1={'key1': 'value', 'key2':'value2'}

**Elemanlara erişim** 

print(my_dict['name'])


print(my_dict.get('age'))

In [ ]:
print(dict1['key1'])
print(dict1.get('key2'))
print(len(dict1))

value
value2
2

In [ ]:
dicOgr={'ad':'Elif','soyad':'Yılmaz','No':'4521','Vize':45,'Final':78}  #veri indexleri listedeki gibi 0 dan başlar
dicOgr={'ogrenciBilgileri':{'ad':'Elif','soyad':'Yılmaz','No':'4521','Vize':45,'Final':78}}  #iç içe bu şekilde tanımlama yapılmaktadır.

print(dict1['key1'])  #index şeklinde çağıralabilir
print(dict1.get('key2'))   #Veya get komutuylada çağırabilir

print(dicOgr['ogrenciBilgileri'])
print(dicOgr['ogrenciBilgileri']['soyad'])

value
value2
{'ad': 'Elif', 'soyad': 'Yılmaz', 'No': '4521', 'Vize': 45, 'Final': 78}
Yılmaz

In [ ]:
print(len(dict1))
print(len(dicOgr))
print(len(dicOgr['ogrenciBilgileri']))
print(dicOgr['ogrenciBilgileri'])

2
1
5
{'ad': 'Elif', 'soyad': 'Yılmaz', 'No': '4521', 'Vize': 45, 'Final': 78}

In [ ]:
dicOgr1={'ogrenciBilgileri':{'ad':'Elif','soyad':'Yılmaz','No':'4521','Sınav':[45,78]}} 
print(dicOgr1['ogrenciBilgileri'])
print(len(dicOgr1['ogrenciBilgileri']))
print(dicOgr1['ogrenciBilgileri']['Sınav'][1])

{'ad': 'Elif', 'soyad': 'Yılmaz', 'No': '4521', 'Sınav': [45, 78]}
4
78

In [ ]:
dict2={'ad':'Samet'}
dict3=dict2

In [ ]:
dict4=dict2.copy()

In [ ]:
print(id(dict2))
print(id(dict3))
print(id(dict4))

139928491771776
139928491771776
139928466359872

In [ ]:
dict3['ad']='Seda'
print(dict2)
print(dict3)
print(dict4)

{'ad': 'Seda'}
{'ad': 'Seda'}
{'ad': 'Samet'}

In [ ]:
dict5={'ad':'Elif','soyad':'Yılmaz','No':'4521','Vize':45,'Final':78}

for i in dict5:  # key,value döndürür
  print(i, " ",dict5[i])

ad   Elif
soyad   Yılmaz
No   4521
Vize   45
Final   78

In [ ]:
dict5.pop('Final') # dictionary de pop içine mutlaka değer yazılmalı yazılmadığında son değişkeni silme işlemini yapmamakta
dict5

{'No': '4521', 'Vize': 45, 'ad': 'Elif', 'soyad': 'Yılmaz'}

items, keys, len, pop, popitem, clear, del

In [ ]:
del(dict5['No'])
dict5

{'Vize': 45, 'ad': 'Elif', 'soyad': 'Yılmaz'}

In [ ]:
print(dict3)
dict3.clear()
print(dict3)
#del(dict2) komtuyla tüm dic silinir

{'ad': 'Seda'}
{}

In [ ]:
liste1=[i for i in range(1,11)] #tek satırda liste için for döngüsü

In [ ]:
dict6 = {i:str(i) for i in range(1,11)}

print(dict6)
print(type(dict6))

{1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9', 10: '10'}
<class 'dict'>

In [ ]:
metin="kjsdjksjdsjdDJBFDJBFDBFJDFBJÖĞÜÇsdsdsa"

dict7={i+1:str(metin[i]) for i in range(0,len(metin))}
print(dict7)

{1: 'k', 2: 'j', 3: 's', 4: 'd', 5: 'j', 6: 'k', 7: 's', 8: 'j', 9: 'd', 10: 's', 11: 'j', 12: 'd', 13: 'D', 14: 'J', 15: 'B', 16: 'F', 17: 'D', 18: 'J', 19: 'B', 20: 'F', 21: 'D', 22: 'B', 23: 'F', 24: 'J', 25: 'D', 26: 'F', 27: 'B', 28: 'J', 29: 'Ö', 30: 'Ğ', 31: 'Ü', 32: 'Ç', 33: 's', 34: 'd', 35: 's', 36: 'd', 37: 's', 38: 'a'}

In [ ]:
dict8={i+1:str(metin[i]) for i in range(0,len(metin))}
print(dict8)

In [ ]:
squares = {}
for x in range(6):
  squares[x] = x*x
print(squares)

squares['yeni']='deger'
squares[10]='deger10'
squares[0] = 'deger0'
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 'deger0', 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 'yeni': 'deger', 10: 'deger10'}

In [ ]:
#Dictionary Comprehension

squares1 = {x: x*x for x in range(16)}

print(squares1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}